[2019-09-10 16:19] saxena-ashish-g opened #3 "Baron-Adesi Whaley analytic approximation for American options"
American options have a number of approximate pricing formula under Black-Scholes.
In particular, the [Baron-Adesi Whaley approximation](https://deriscope.com/docs/Barone_Adesi_Whaley_1987.pdf) is of interest.

The module implementing this method should live under [tf_quant_finance/volatility/american_option.py](https://github.com/google/tf-quant-finance/tree/master/tf_quant_finance/volatility). I

[2019-09-11 09:10] cyrilchim opened #5 "Bjerksund-Stensland analytic approximation for American options"
[Bjerksund-Stensland](https://www.sciencedirect.com/science/article/pii/095652219390009H) approximation is an alternative to the [Baron-Adesi Whaley](https://deriscope.com/docs/Barone_Adesi_Whaley_1987.pdf) approximation for  American options pricing formula under Black-Scholes.

The module implementing this method should live under tf_quant_finance/volatility/american_option.py. It should support

[2019-09-11 09:46] cyrilchim opened #6 "Analytical approximation for a spread-option price under Black-Scholes"
Spread-options are particularly popular in commodity markets. A simple [Kirk's approximation](https://www.sciencedirect.com/science/article/pii/S0893965913001171) for European spread-option price under Black-Scholes model is of interest.

The module implementing this method should live under tf_quant_finance/volatility/spread_option.py. It should support both puts and calls. Tests should be in spr

[2019-09-11 10:29] cyrilchim opened #7 "Pricing formulas for Barrier options under Black-Scholes"
Formulas for pricing a Barrier option under Black-Scholes model is of interest. (See, e.g., Section 26.9 of Hull(2018), Options, Futures, and Other Derivatives, 9th edition).

The module implementing this method should live under tf_quant_finance/volatility/barrier_option.py. It should support both puts (up-and-in put, down-and-out put) and calls (down-in call, up-and-out call). Tests should be in

[2019-09-11 10:57] cyrilchim opened #8 "Approximate European option price under SABR model"
[SABR model](https://en.wikipedia.org/wiki/SABR_volatility_model) has accurate density approximations  (see, e.g., [here](https://arxiv.org/pdf/1107.1834.pdf)). It is of interest to use the approximations to estimate European option prices.

The module implementing this method should live under tf_quant_finance/volatility/sabr_approximation.py. It should support both European puts and calls approx

[2019-09-11 13:06] cyrilchim opened #9 "Approximate European option price under Heston model"
Heston model has accurate density [approximations for European option prices](https://arxiv.org/pdf/1107.1834.pdf), which are of interest.

The module implementing this method should live under tf_quant_finance/volatility/heston_approximation.py. It should support both European option puts and calls approximations. Tests should be in heston_approximation_test.py in the same folder.

[2019-09-11 18:48] Patil2099 commented on #7
@cyrilchim Can I work on this?

[2019-09-12 00:21] brilhana commented on #9
I'd like to work on this!

[2019-09-12 00:32] brilhana opened #10 "American option price under Cox-Ross-Rubinstein"
Binomial options pricing models like Cox-Ross-Rubinstein have been widely used since they are able to handle a variety of conditions for which other models cannot easily be applied proving themselves to be more accurate, particularly for longer-dated options on securities with dividend payments.

[2019-09-12 05:49] feribg opened #11 "Leverage TF autograd for greeks"
Maybe this should be relatively straightforward  within tensorflow  too.

https://juliacomputing.com/blog/2017/04/26/Wilmott-AD-Greeks.html

[2019-09-13 08:05] saxena-ashish-g commented on #10
Alexandre: Thanks for suggesting this issue and thanks Neil for volunteering to tackle it.

Binomial trees in general are relatively lower priority for us, partly because they don't generalize efficiently to the multi asset case. It is also not clear how efficiently they can be implemented in TF. However, CRR has the simplicity of recombining trees so the memory requirements should be reasonable f

[2019-09-15 07:36] 2torus commented on #5
@cyrilchim I'd like to work on this.

[2019-09-15 16:29] saxena-ashish-g commented on #5
@2torus: sounds good. I will assign it to you. Please contact us if you have any questions.

[2019-09-16 08:56] gmxq commented on #6
@cyrilchim May I work on this issue?

[2019-09-16 09:16] cyrilchim commented on #6
@gmxq: Thank you for reaching out. I'm assigning the issue to you. Please let us know if you have any questions.

[2019-09-21 03:19] kwonhur commented on #3
Hi,
Can I work on this issue? Thanks

[2019-09-21 13:30] cyrilchim commented on #3
Hi Kwon! Sure, I've assigned the issue to you. Please reach out if you have any questions. In case you need help getting started with TensorFlow, please refer to the [trainings](https://github.com/google/tf-quant-finance/blob/master/tf_quant_finance/examples/README.md)

[2019-11-11 08:01] shun-lin opened #12 "TF 2.0 Compatibility"
Hi!

Thanks for the really cool library! I recently came across this library as I want to learn more about quant finance and ML and this package really interested me :) I understand it's currently pre-Alpha but I am wondering if this package is compatible with TF 2.0, if not, is it somewhere on the roadmap or is that something I can help out with? Thank you so much!

[2019-11-11 15:17] cyrilchim commented on #12
Hi Shun!

Thanks for reaching out. We believe most of the library should be TF2
-compatible.
We are currently working on open-sourcing the internal code and will ensure
compatibility shortly in version 0.1.

If you can see obvious flaws, please feel free to send a pull request.

Many thanks,
Cyril

On Mon, Nov 11, 2019 at 8:01 AM Shun Lin <notifications@github.com> wrote:

[2019-11-11 16:07] shun-lin commented on #12
Hi @cyrilchim thanks for the quick response! Definitely will keep an eye out for any flaws, thanks!

[2019-11-20 17:33] feribg opened #13 "BS vol and greeks"
I was wondering if there's an example implementation of BS implied vol estimation for  American options and greeks. This tends to be the more commonly needed example  than  pricing, since the immediate need  is to generate vol surfaces or ivol and use in further modelling. Wondering if this is supported, I couldn't see any examples in the American pricing notebook. Thanks!

[2019-11-24 08:31] jjchan121 opened #14 "Euler Sample Path does not work under TensorFlow 2.0 with Higher Dimension"
When we specify the SDE with dimension greater than one and simulate under Euler Scheme, we will have the following errors.

~/anaconda/envs/py36dev/lib/python3.6/site-packages/tf_quant_finance/models/ito_process.py in step_fn(i, written_count, current_state, result)
    332       dw = random.mv_normal_sample(
    333           (num_samples,), mean=wiener_mean, random_type=random_type,
--> 334

[2019-11-25 19:33] PBRAOS opened #15 "Monte_Carlo_Euler_Scheme.ipynb"
There is some problem on the reported time for GPU vs CPU on multiple dimensions 100.
I am using a single GPU and it is slower compared to my CPU multithreading. I am wondering why... The rest of the notebooks work as expected.
I am using a GeForce 1080 not a TESLA v100 GPU, but intuitively i would expect to have a similar speedup...

Any ideas why I get this behaviour ?

Regards,
pb

[2019-11-26 19:04] cyrilchim commented on #15
Hi Panagiotis,

Could you please check if this is the case for float32 (I assume you are running for the default float64 dtype)?  Geforce 1080 performance peaks for float32:
https://www.microway.com/knowledge-center-articles/comparison-of-nvidia-geforce-gpus-and-nvidia-tesla-gpus/

Could you please report the running times as well?

Thanks,
Cyril

[2019-11-26 19:07] cyrilchim commented on #13
Hi Feras,
We do not have those at the moment. Please let me know if you would like to contribute any of the approximate formulas, I'd be happy to assist you.

[2019-11-26 19:41] feribg commented on #13
I have some simple python  implementation of FD, but  im quite foreign to tensorflow and  maybe the most I can contribute is the python code.  It's relatively trivial though.

[2019-11-27 10:14] saxena-ashish-g commented on #14
I have pushed a fix for this (we needed to replace tf.name_scope with tf.compat.v1.name_scope). Can you please give it another spin (against the head version and not the pip version) and let me know if it still doesn't work.

[2019-11-28 15:58] jjchan121 commented on #14
Even worse, I can't import the library.

----> 1 import tf_quant_finance as tqf

~/.conda/envs/idp36p/lib/python3.6/site-packages/tf_quant_finance/__init__.py in <module>
     66
     67 from tf_quant_finance import black_scholes
---> 68 from tf_quant_finance import math
     69 from tf_quant_finance import models
     70 from tf_quant_finance import rates

~/.conda/envs/idp36p/lib/python3.6/site-

[2019-11-28 17:20] matejr commented on #14
Hi @jjchan121,

we tried to reproduce your last error in an environment similar to yours (ubuntu, anaconda, latest pip package installed within anaconda). However, the "import tf_quant_finance as tqf" statement works in this environment.

Could you please provide more details about your environment? We would need the following information:
- base operating system (e.g., ubuntu)
- anaconda, python,

[2019-12-09 10:17] PBRAOS commented on #15
Using Tensorflow 1.15.0
Running on CPU with 12 cores.

#@title Sampling on a CPU. Note TensorFlow does automatic multithreading.
**dtype = np.float64**
Time (seconds) to price a European Call Option on a CPU:  0.7360169887542725
**dtype = np.float32**
Time (seconds) to price a European Call Option on a CPU:  0.5771586894989014
Time (seconds) to price a European Call Option using QuantLib:  20.8174

[2019-12-09 11:02] cyrilchim commented on #15
@PBRAOS
I think these results are very much consistent with the statements from the article I've shared: GeForce 1080 double precision performance is poor (they state that the performance is 32 times worse for double precision compared to single). This factor of 32 is part part of the card desing: https://www.guru3d.com/articles-pages/nvidia-geforce-gtx-1080-review,3.html

[2019-12-11 08:34] #15 closed

[2019-12-19 09:19] cyrilchim commented on #14
All should be working now with TF 2.0

[2020-01-03 08:04] esztermarton commented on #3
Hey @cyrilchim - this looks cool, could I please give it a go? Thanks!

[2020-01-30 10:46] #14 closed

[2020-01-30 10:48] cyrilchim commented on #12
Library should be TF2 compatible.

[2020-01-30 10:48] #12 closed

[2020-02-01 23:18] kykosic opened #17 "Poor Performance in TensorFlow 2.1"
I was refactoring the "American_Option_Black_Sholes.ipynb" to use the new `fd_solvers` API with TensorFlow 2.1, but it has much worse performance than in the previous version that was pre-TF2.0.

Here is the notebook re-written in eager style and ran on the colab GPU: https://colab.research.google.com/drive/1FVYloxIrSvlSrp1aMPLxN4f4KlvPI8l0

As you can see the CPU and GPU options/sec benchmarks ar

[2020-02-03 11:51] cyrilchim commented on #17
Hi Kyle!

Thanks for putting your efforts to make the example TF2-friendly. We will add benchmarking tools later.

As for now here are some remarks:
1. I guess, you are running the colab with a public GPU which is shared. Sometimes it will run faster, sometimes slower. I just run your colab and it has executed twice as fast on a GPU. As an alternative, you can get some free GCP credits and try run

[2020-02-10 18:35] kykosic commented on #17
Thanks for the response @cyrilchim. I've since tested the code on a V100 with a warmup computation and saw significant performance improvements over the old API version.

I did still see slightly worse performance on the CPU variation, but I'm also having issues getting TF2.1 compiled with MKL on my instance so could be a cause.

Would a pull request with an update to that notebook be appropriate?

[2020-02-10 20:50] cyrilchim commented on #17
Hi Kyle,
The change looks very good. Please feel free to push it. Thank you!

[2020-02-13 14:15] #17 closed

[2020-02-13 18:52] feribg commented on #13
@cyrilchim I can see that there's an American BS sample now and some IV approximations root finders (brent etc). So the only  question left now is whether the FD solver outputs autograd values for greeks?

[2020-02-14 10:32] cyrilchim commented on #13
Hi Feras,

Yes, you can now compute Greeks using tff.math.gradients for backward gradient and tff.math.fwd_gradient for forward gradients for both PDE and Monte Carlo. I will add these as examples to the notebooks.

[2020-02-14 17:02] feribg commented on #13
Thanks, would be great to see full greeks and ivol in the American examples, as that's a very common use case.

[2020-02-24 18:30] feribg commented on #13
Were you able to add those and an IV root finder example in the American notebook, very curious to give it a speed test against  my  custom implementation (xtensor) and QL.

[2020-02-25 14:27] cyrilchim commented on #13
Not yet. We have somebody working on approximate American option pricer under Black-Scholes which will allow you to have a good starting position to recover the implied vols. Below I'll give an example of the code that should work if you run it within the [American Option pricing example](https://colab.research.google.com/github/google/tf-quant-finance/blob/master/tf_quant_finance/examples/jupyter

[2020-02-25 17:10] feribg commented on #13
Thanks, I will try that and compare to QL as well as clean up and try to add to the colab. Do you have a running example of `tff.math.fwd_gradient` either in the notebook or somewhere in the tests, only saw a very contrived one in https://github.com/google/tf-quant-finance/blob/39a1c03cc9938c6e08fceb63e405eff0fda835be/tf_quant_finance/math/integration/integration_test.py

[2020-02-26 10:06] cyrilchim commented on #13
Thanks for the request! Could you maybe file a separate bug for the gradient demo? One of our collaborators has written a colab and will be pushing it shortly.

[2020-02-27 10:28] saxena-ashish-g commented on #10
@neil-menghani
There has been no activity on this so I will be reassigning this to myself.

[2020-02-28 17:09] saxena-ashish-g commented on #10
+brilhana

I have added a (admittedly not the most general) version of the CRR binomial tree for American (and European) options.
The main limitations I see (which we will remedy in the next few iterations) will be to support time dependent rates and volatility.
I will leave the bug open for a couple of days and then close it to give you a chance to comment if you give it a spin.

[2020-03-06 06:09] feribg opened #27 "Working example of fwd_gradient"
Do you have a running example of tff.math.fwd_gradient either in the notebook or somewhere in the tests, only saw a very contrived one in https://github.com/google/tf-quant-finance/blob/39a1c03cc9938c6e08fceb63e405eff0fda835be/tf_quant_finance/math/integration/integration_test.py

Mainly for the purposes of calculating:
a) first order greeks
b) higher order greeks

[2020-03-06 10:18] saxena-ashish-g commented on #27
Yes, we have a pending PR for this.
https://github.com/google/tf-quant-finance/pull/24

[2020-03-06 10:22] saxena-ashish-g commented on #10
I am closing this issue now. Please create a new one if you spot any issues with the current implementation.

[2020-03-06 10:22] #10 closed

[2020-03-06 17:13] feribg commented on #27
Thanks I'll take a look at it. Meanwhile do you have some high level docs or maybe can you explain in a few words which parts of the FD scheme are parallelized on the GPU, since it's mostly a sequential algorithm where you need to loop over each timestep and solve the tridiagonal system step by step as the solution of N+1 depends on the solution of N.Do you constraint the types of schemes to be us

[2020-03-07 07:16] saxena-ashish-g commented on #27
The primary benefit of the GPU probably comes from the tridiagonal solver. We wrote a GPU kernel for that which we upstreamed to TensorFlow core (https://www.tensorflow.org/api_docs/python/tf/linalg/tridiagonal_solve) The rest of the computation is pretty serial as you say.

[2020-03-11 19:07] feribg commented on #27
@saxena-ashish-g do you have more details on the implementation or the cuda kernel? I couldn't see it  in  the  TF repository

[2020-03-11 20:56] saxena-ashish-g commented on #27
It is located under tensorflow/core/kernels/tridiagonal_solve_op.cu.cc but you can't find it on github because of the size of the kernels directory which causes truncation in the directory listing. If you clone the repo, you should be able to find it there.

Where it ought to be:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/tridiagonal_solve_op.cu.cc

[2020-03-11 21:02] cyrilchim commented on #27
Hi Feras,

GPU kernel for tridiagonal solver is imported from cuSparse :
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/tridiagonal_solve_op_gpu.cu.cc

As I remember, the solver should be this one:
https://docs.nvidia.com/cuda/cusparse/index.html#gtsv

As for the forward gradient, we had to have a crack on differentiating the while loop to make it performant (as I ass

[2020-03-12 05:54] feribg commented on #27
Thanks Cyril, I took a look but the Nvidia docs don't suggest the algorithm used for the solver:

[2020-03-12 09:25] cyrilchim commented on #27
Seems they use Cyclic reduction on a GPU since the documentation for `cusparse<t>gtsv_nopivot()` says:
"The routine does not perform any pivoting and uses a combination of the Cyclic Reduction (CR) and the Parallel Cyclic Reduction (PCR) algorithms to find the solution." I am not sure you can get the implementation details.  The parallelism should be along the batch as well as within the algorithm

[2020-03-13 03:15] feribg commented on #27
Thank you @cyrilchim this is basically the perfect testbed code to try a more comprehensive sample and compare the gradient delta and speedup between the two approaches.

[2020-03-17 05:48] feribg commented on #27
Thanks @cyrilchim , your example is actually a lot more detailed than the PR, but since the solver returns some kind of tuple how do you differentiate without aggregation through it? I assume you return `tf.Variable(estimate[:,-1])` or you have to differentiate over the entire grid regardless that we care only about the final time step?

[code]

Another side question that I have is that  it seems

[2020-03-19 10:21] cyrilchim commented on #3
This is now resolved! Thank you, Rebeka!

[2020-03-19 10:22] #3 closed

[2020-03-22 05:13] feribg commented on #13
@cyrilchim I had a couple more questions around the `solve_backwards` method:
1. How would you incorporate dividends in the example notebook, do you just change the coeff funcs?
2. Seems like because of the cyclic reduction nature of the solver it does only give you the final solution rather than the solution at each timestep (ie full grid). Is that a limitation of the CUDA library, if we got each

[2020-04-18 08:21] michaelazer commented on #9
@cyrilchim the link to the training you're referring isn't available. Has it been moved?

[2020-04-18 10:09] saxena-ashish-g commented on #9
Hi Michael,

Yes the trainings have now been moved. They are available under [examples/jupyter_notebooks](https://github.com/google/tf-quant-finance/blob/master/tf_quant_finance/examples/jupyter_notebooks/Introduction_to_TensorFlow_Part_1_-_Basics.ipynb).

-Ashish

[2020-04-18 12:47] michaelazer commented on #9
Thanks a lot for your reply :)

On Sat, Apr 18, 2020, 12:09 PM Ashish Saxena <notifications@github.com>
wrote:

[2020-05-12 03:24] DevarakondaV commented on #5
Is @2torus still working on this?

[2020-05-12 03:42] saxena-ashish-g commented on #5
We haven't seen any activity on this issue since September. If @2torus isn't, would you like to tackle this one @DevarakondaV ?

[2020-05-12 16:37] DevarakondaV commented on #5
Yeah!

[2020-05-12 16:40] cyrilchim commented on #5
Thanks!

[2020-05-12 17:00] 2torus commented on #5
@cyrilchim Wait, I did half the work. https://github.com/2torus/tf-quant-finance/blob/BjerksunStensland/tf_quant_finance/black_scholes/approximations/bjerksund_stensland.py Give me a couple of weeks to wrap it up, please.

[2020-05-12 17:03] cyrilchim commented on #5
Oh, I am sorry Boris. Reassigning back to @2torus

[2020-05-12 17:05] 2torus commented on #5
It's totally my fault. I was doing it at a good pace until life interfered :-(

[2020-05-12 17:57] cyrilchim commented on #7
@Patil2099 Could you please let us know if there is any progress on this?

[2020-05-13 12:35] cyrilchim commented on #5
@DevarakondaV  Would you like to get a crack on [barrier options](https://github.com/google/tf-quant-finance/issues/7)? We really need that one but there was no progress on that front so far?

[2020-05-13 16:44] DevarakondaV commented on #5
I'll have to familiarize myself with Barrier Options, but I'm guessing I should be able to do it. It might take some time though.

[2020-05-13 17:03] saxena-ashish-g commented on #7
@DevarakondaV

You might find [this](https://warwick.ac.uk/fac/soc/wbs/subjects/finance/research/wpaperseries/1994/94-54.pdf) paper useful (around page 20).

[2020-05-14 22:13] DevarakondaV commented on #7
@saxena-ashish-g I think I can implement this. I'll give it a shot since @Patil2099 hasn't responded.

[2020-05-15 07:31] cyrilchim commented on #7
Reassigned to @DevarakondaV . Thanks!

[2020-05-25 22:52] DevarakondaV commented on #7
Is it expected that the model executes in both graph and eager mode?

[2020-05-26 11:45] cyrilchim commented on #7
Yes, we expect that the user is able to build a graph

[2020-05-27 08:27] franz101 opened #32 "TypeError: Can't instantiate abstract class ExampleProcess with abstract methods fd_solver_backward, sample_paths"
Trying to run the example Monte_Carlo_Euler_Scheme.ipynb  I run into this error:
TypeError: Can't instantiate abstract class ExampleProcess with abstract methods fd_solver_backward, sample_paths

https://colab.research.google.com/github/google/tf-quant-finance/blob/master/tf_quant_finance/examples/jupyter_notebooks/Monte_Carlo_Euler_Scheme.ipynb#scrollTo=uG8UAZXjeUhf

[2020-05-27 08:29] saxena-ashish-g commented on #32
Thanks for reporting this, Franz. We will take a look.

[2020-05-27 08:31] cyrilchim commented on #32
The example is outdated. Will update shortly.

[2020-05-28 13:39] franz101 commented on #32
@cyrilchim @saxena-ashish-g  thanks for the super quick response ;)

[2020-05-29 03:20] saxena-ashish-g opened #33 "Add Levenberg-Marquardt least squares method"
[Levenberg-Marquardt](https://en.m.wikipedia.org/wiki/Levenberg%E2%80%93Marquardt_algorithm)  is a frequently needed algorithm in curve fitting problems in finance. It would be great to have a batched TF implementation in the library. It should be placed in the optimizers folder.

The reference implementation to follow is the MINPACK routines. In addition to the original [Fortran version](https://

[2020-05-29 04:05] gavincyi commented on #33
I am happy to take over it if nobody is actively working on it in the team.

[2020-05-29 07:55] saxena-ashish-g commented on #33
Hi Gavin,

No one is working on it in the team. It is all yours!

Thank you!

Ashish

On Fri, 29 May 2020, 05:05 Gavin Chan, <notifications@github.com> wrote:

[2020-06-01 16:08] cyrilchim commented on #32
I have updated the [notebook](https://colab.sandbox.google.com/github/google/tf-quant-finance/blob/master/tf_quant_finance/examples/jupyter_notebooks/Monte_Carlo_Euler_Scheme.ipynb) and added Greek computation example. Please let me know if you have any further issues.

[2020-06-01 17:01] saxena-ashish-g commented on #6
@gmxq Are you still working on this issue?

[2020-06-01 17:02] saxena-ashish-g commented on #8
@joybh98

Hi Joy, Are you still working on this issue? If you aren't could you please let us know?

-Ashish

[2020-06-01 17:04] saxena-ashish-g commented on #9
@brilhana

Hi Alexandre,

Are you still working on this issue? If you are, could you please let us know.

-Ashish

[2020-06-01 17:46] #32 closed

[2020-06-02 10:56] joybh98 commented on #8
@saxena-ashish-g I'm not working on this issue. Whoever wants to take this please go ahead.

[2020-06-02 20:56] gmxq commented on #6
Hi yes, I will submit it shortly. Sorry for the delay here.

[2020-06-07 16:53] cyrilchim commented on #7
Thanks, Vishnu! This is now [merged](https://github.com/google/tf-quant-finance/pull/31).

[2020-06-07 16:53] #7 closed

[2020-06-07 16:59] DevarakondaV commented on #7
Hey @cyrilchim no problem! Just to let you know that I haven't committed the changes for xla compatibility yet. Additionally, I was still looking at [this](https://github.com/google/tf-quant-finance/pull/31#discussion_r435117425). Not sure if you still want me to continue with it?

[2020-06-07 17:04] cyrilchim commented on #7
Oh, yes. Would you like to add an XLA test and ensure that both `continuous_dividends` and  `cost_of_carries` can be None?

[2020-06-07 17:04] saxena-ashish-g commented on #7
Vishnu,

That (my comment about the dividends) is relatively minor so don't worry
about it if you haven't already put in time. We will fix it at a later
point. If you already have a fix, then please feel free to send another pr
and we will merge it.

Cheers,
Ashish

On Sun, 7 Jun 2020, 17:59 Vishnu Devarakonda, <notifications@github.com>
wrote:

[2020-06-07 17:08] DevarakondaV commented on #7
@cyrilchim and @saxena-ashish-g, I'll put in the pull request as soon as I can!

[2020-06-07 17:09] cyrilchim commented on #7
To add to what Ashish says, if you have an XLA test, please feel free to send a change as that would be useful.

[2020-07-01 10:07] Faysel33 opened #37 "Quant Repository"

[2020-07-09 12:00] #37 closed

[2020-07-24 18:17] Rish001 commented on #8
@cyrilchim I didnt come across any folder named volatility under tf_quant_finance. Can you please point me to the file?

[2020-07-26 10:20] cyrilchim commented on #8
@Rish001 It has been refactored. This has to go to models/sabr/approximations/european_option.py (similarly to [heston structure](https://github.com/google/tf-quant-finance/tree/master/tf_quant_finance/models/heston/approximations))

[2020-07-26 13:49] Rish001 commented on #8
Do you want this approximation of SABR model to be implemented?

![image](https://user-images.githubusercontent.com/21169674/88480649-c6ff5680-cf74-11ea-8a32-1ba7c75d6b59.png)

[2020-07-27 17:00] cyrilchim commented on #8
Yes, Rishav, that is the approximation. One could use it for calibration purposes as described in the paper

[2020-07-30 13:18] Rish001 commented on #8
What are the possible test cases that my implementation needs to be tested against?

[2020-07-31 11:42] cyrilchim commented on #8
Hi Rishav,

You can find different estimated European option prices under the SABR
model here <http://ta.twi.tudelft.nl/mf/users/oosterle/oosterlee/SABRMC.pdf>.
Your approximation should lead to similar results.
Please let me know if you have any further questions. I am happy to help
you debug the code if you get stuck.

Best,
Cyril

On Thu, Jul 30, 2020 at 2:19 PM RISHAV DUTTA <notifications@gith

[2020-08-01 09:06] Rish001 commented on #8
How are these integrations working? are these integrations nested in one inside the other?
![image](https://user-images.githubusercontent.com/21169674/89098345-4cb35400-d404-11ea-82f9-d2c1e7338fb2.png)
It would help me if you can please give me a clue how this integral would look like for tenor T2 and beyond

[2020-08-02 20:56] cyrilchim commented on #8
@Rish001 The approximation `p(t, ... )` is the forward transition density of the SABR process. Computing option prices could be done by creating a uniform grid of points in `(F, A)` space and computing the average in the formula (2.6) from the original [paper](https://arxiv.org/pdf/1107.1834.pdf). `B` is a zero-coupon bond price which is a standard notion. In case of a constant interest rate `r` i

[2020-08-17 15:26] Rish001 commented on #8
As the mentioned integral is unbounded, I think Monte Carlo integration is to be applied. Do you think any other way to compute the integral?

[2020-08-21 08:54] Rish001 commented on #8
@cyrilchim I have built a minimal viable code for determining option price for option tenor T1. But i am encountering overflow error which I am unable to remove. I would really appreciate it if you can provide me some helpful direction.
![image](https://user-images.githubusercontent.com/21169674/90872159-d4fc9780-e3b9-11ea-99b3-a896ebf98f3b.png)
Please find the [link ](https://colab.research.googl

[2020-09-11 15:02] Rish001 commented on #8
Just to leave you an update. I have mostly finished debugging and will be submitting shortly

[2020-11-18 17:51] mayou36 opened #39 "Integration/interpolation methods"
Hi all, many thanks for this library! As I've seen, there is an integration method and interpolation. The latter are also available in other packages (tf-graphics, tf-addons) in one way or another while the integration is not (AFAIK?).

However, we implemented multiple integration algorithms and plan to put them up/into an existing repository. TFP seems nice but maybe not fully suited. However, th

[2020-11-18 18:53] saxena-ashish-g commented on #39
Hi Jonas,

Thank you for getting in touch.

Are your integration algorithm implementations in TF? Are they C++ kernels
or python TF?

I agree that integration methods are generally useful and it would be good
to separate them out of narrow focus libraries like ours and TFP. We have
(very vague at this stage) to create a separate maths package containing
commonly used tools but haven't formalised a

[2020-11-18 19:03] mayou36 commented on #39
The integrations are in Python TF, similar to the simpson. In fact, a tensorflow-math package would be great! Similar to scipy of the scope?

In terms of timeframe we would be interested to have such a package rather sooner than later, just to avoid further duplications of others. Especially to converge on an API would be great for e.g. integration methods (1D and ND).

While our implementations a

[2020-12-07 03:11] Rish001 commented on #8
@cyrilchim could you give me a set of test cases to test my implementation against? I need a number of combinations of alpha, beta,rho, nu,forwards,strikes and time to maturity and corresponding implied volatility values so that I can test my SABR implied vol calculation

[2020-12-10 06:37] iamsiddhantsahu commented on #9
I am very interested to work on it. If Alexandre is not working it, I would like to take up the work.

[2020-12-10 14:19] cyrilchim commented on #9
Thank you for the interest, Siddhant!

 @michaelazer are you still working on this?

[2020-12-10 14:26] cyrilchim commented on #8
Hi Rishav,

We do not have explicit tests but you should be able to use current [SABR model](https://github.com/google/tf-quant-finance/blob/master/tf_quant_finance/models/sabr/sabr_model.py) to sample trajectories and estimate European option price (put or call). Your approximation should give similar results

[2020-12-16 09:00] cyrilchim commented on #9
Ok, I am reassigning to @iamsiddhantsahu

[2020-12-16 09:37] iamsiddhantsahu commented on #9
@cyrilchim Thanks! Pleasure to work on this. Taking this assignment as part of my university semester project.

As stated in your first comment quoted below,

But, I am afraid I do not see the `volatility` folder in the path mentioned. Do I need to create it?

[2020-12-16 10:39] iamsiddhantsahu commented on #9
Found it. I guess it has been refactored. I guess it should go inside the [`models/heston/approximations/european_option.py`](https://github.com/google/tf-quant-finance/blob/master/tf_quant_finance/models/heston/approximations/european_option.py)?

[2020-12-23 10:15] cyrilchim commented on #9
Yes, that is the correct folder

[2021-01-22 05:19] 3GitHub opened #41 "Гг"

[2021-01-25 02:59] simaki opened #42 "HestonModel.sample_paths returns variance converging to zero"
I generated sample paths of HestonModel with parameters shown in the [documentation](https://github.com/google/tf-quant-finance/blob/master/api_docs/tf_quant_finance/models/HestonModel.md).

However, variance eventually converges to zero and accordingly spot prices asymptotic to constant.
I attach the plot and a snippet to reproduce it.

Is this an expected behaviour?
I appreciate it if you could

[2021-01-25 10:32] cyrilchim commented on #42
Hi Shota,

Thank you for reporting the issue. Let me take a look and come back to you.

[2021-01-25 11:11] #41 closed

[2021-01-25 18:07] cyrilchim commented on #42
Thank you again for reaching out.

I think this behavior is expected.

If you run trajectories for longer they will "unstuck". In this case Feller condition is violated (`epsilon**2 > 2 * kappa * theta`) so the process hits zero eventually, but will also "unstuck" if you run it for longer.

You will get a less dramatic picture if you use `RandomType.PSEUDO` instead (since Sobol numbers are not mea

[2021-01-26 01:35] omdv opened #43 "Time decay of American options"
Hello and thanks for the library!

I am working on an integration of TFF into one of my option trading strategies and trying to figure out several practical aspects, such as IV determination and finding greeks. After reading through all issues and discussions I have a working notebook which expands the American option example (using PDE) and includes volatility estimation and (most of) greeks usin

[2021-01-26 09:41] simaki commented on #42
Yes, that makes great sense.
Feller condition is indeed violated and thus variance will eventually be zero. Interesting.

It really helps.
Thank you so much for your time and kindness!

[2021-01-26 09:41] #42 closed

[2021-01-27 00:51] mayou36 commented on #39
Hi, is there any update on this? To me, it really seems in the wrong place currently: all this math tools are great, but they are used in general statistics or science extensively (e.g. TensorFlow Probability) and we should try to have it in a common place.

[2021-01-27 12:38] cyrilchim commented on #39
Hi Jonas,

I agree that many of the maths components could be extracted into a separate repo. At the moment we do not have the capacity to move the code. For now please feel free to make a contribution to the current repo.

Please let me know if you still wish to contribute any specific methods.

[2021-01-27 15:16] saxena-ashish-g commented on #43
Hi,

You are absolutely right that a gradient on the expiry will do the trick for computing theta. Taking as an example, the vanilla option, you can do this:

[code]

Same logic will work with the American options.

Regarding the question about different expiries for the American options (or for anything on the grid), there are two options:
1. You initialize the grid at the largest expiry and evol

[2021-03-05 16:09] LutzWeischerFujitsu opened #46 "build fails"
[jw@cn06 tf-quant-finance]$ ./bazel-bin/build_pip_pkg artifacts
++ uname -s
++ tr A-Z a-z
+ PLATFORM=linux
+ PIP_FILE_PREFIX=bazel-bin/build_pip_pkg.runfiles/tf_quant_finance/
+ main artifacts
+ SETUP_FLAGS=--universal
+ [[ ! -z artifacts ]]
+ [[ artifacts == \m\a\k\e ]]
+ [[ artifacts == \-\-\n\i\g\h\t\l\y ]]
+ DEST=artifacts
+ shift
+ [[ ! -z '' ]]
+ [[ -z artifacts ]]
+ mkdir -p artifacts
++ re

[2021-03-10 12:24] LutzWeischerFujitsu commented on #46
[jw@cn06 tf-quant-finance]$ pip3 install wheel
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: wheel in /home/jw/.local/lib/python3.9/site-packages (0.36.2)
WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.
[jw@cn

[2021-03-16 15:14] AlexandreMoulti opened #47 "libor market model"
pricing and calibration of swpations thanks the LMM with following features
- displacement for negative rates
- number of factors
- stochastic vol
https://cermics.enpc.fr/~mehallas/Documents/Summer_school_X.pdf

[2021-03-22 20:29] amitvarshney00 commented on #47
Hi Alexandre

We currently do not have an implementation of LMM in tf-quant-finance. We definitely have plans to implement a variant of LMM model in the future. However, you might be aware that Libor rates are going to be discontinued soon and will be replaced by overnight rates like SOFR in the US and SONIA and ESTER in UK and Euro Zone respectively. The modeling paradigm will switch from the for

[2021-03-24 09:22] AlexandreMoulti commented on #47
Thanks for your answer
I understand there will be challenges for adopting a consistent framework in the near future with the ongoing changes in the ibor market.
Yet, there is a need to pricing products right now, and LMM or LGM models are among the mostly used.
That would be nice to have an implementation even of them even if it will evolve in the future.
regards

https://oparu.uni-ulm.de/xmlui/bi

[2021-03-25 16:41] amitvarshney00 commented on #47
Hi Alexandre - Thanks for your input. We will keep this in mind while deciding for an implementation of LMM type term-structure models in the future.

[2021-04-02 06:55] mahmoodn opened #49 "Numpy version mismatch in the first try"
Hi
I have successfully installed tensorflow and tf-quant-finance from source, however, when I want to run an example, I get an error about version mismatch of numpy.

[code]

The versions are shown below

[code]
How can I fix that?

[2021-04-13 17:43] cyrilchim commented on #49
Hi Mahmood,

Sorry for the late reply. Could you please clarify how and which example you run?

[2021-04-14 13:32] mahmoodn commented on #49
It seems that there is an incompatibility between tensorflow and numpy 1.20 at the moment.
https://github.com/tensorflow/tensorflow/issues/48271

[2021-05-04 08:27] cyrilchim commented on #49
Closing for now.

[2021-05-04 08:27] #49 closed

[2021-05-04 08:27] cyrilchim commented on #46
Could you please update if this is still an issue?

[2021-05-05 07:24] LutzWeischerFujitsu commented on #46
Re-tested, looks OK now. Thanks!

[2021-05-05 07:24] #46 closed

[2021-05-16 03:17] alembcke opened #50 "Consistent argument names for dividends across option pricing models"
Argument names for dividends across different option pricing models appear to be different, with no obvious reason for the difference.  For example, `tff.black_scholes.option_price` takes in `continuous_dividends`, while `tff.black_scholes.option_price_binomial` takes in `dividend_rates`.

If there is no reason for the difference, then I would suggest changing `dividend_rates` to `continuous_divid

[2021-05-17 09:31] cyrilchim commented on #50
Hi Alex,

Thanks for noticing that. This is indeed an oversight. Would you like to send a PR ensuring that `dividend_rates` is used across the library instead of `continuous_dividends`. This is more aligned with `discount_rates`. For discrete dividends we would use something like `dividend_dates` and `dividends`.

A gracious way to rename the parameter is to use a deprecation warning for `continuo

[2021-05-18 02:38] alembcke commented on #50
Hi Cyril,

Sure, I will work on this PR.  I agree with using `dividend_rates` across the option pricing models.  I also agree that including a deprecation decorator is the right way to go about such a change, so will include that in my PR.  I will let you know if I have any questions.

Regards,
Alex

[2021-05-24 10:27] #50 closed

[2021-05-24 10:32] cyrilchim commented on #50
Thank you Alex! This is now merged.

[2021-06-17 02:18] alembcke opened #52 "ImportError when installing from source code"
I installed tf-quant-finance from source cloned on 16-Jun-2021 and get the below error:

[code]

This looks to be a bug which was introduced recently (last time I installed from source on 18-May-2021 I did not get this error).

I am not familiar with any of the files mentioned here, so would not be the best person to investigate.  Is there someone who can investigate this?  Do others get the same

[2021-06-17 15:05] cyrilchim commented on #52
Thanks for reporting. Let me try to reproduce

[2021-06-17 15:48] cyrilchim commented on #52
I think I can reproduce the issue. Following the instructions, I assume you have run `./bazel-bin/build_pip_pkg artifacts` followed by `pip install --user --upgrade artifacts/*.whl`. If I run `python3` and try to `import tf_quant_finance`, the reported error indeed appears.

The issue here is that you are still in `/tf-quant-finance` folder. Please move out of the folder `cd ..` and try importing

[2021-06-17 18:23] arthurpham opened #53 "Missing FDAmericanEngine from quantlib in American_Option_Black_Scholes.ipynb"
According to the quantlib release https://github.com/lballabio/QuantLib/releases/tag/QuantLib-v1.22, FDAmericanEngine has been removed after being deprecated, and is replaced by FdBlackScholesVanillaEngine

[2021-06-18 00:14] alembcke commented on #52
That fixed it, thank you!

[2021-06-18 00:14] #52 closed

[2021-06-20 19:44] alembcke commented on #5
I haven't seen any updates on this in a while, so I thought I would give it a go.  But I have run into an issue I cannot resolve.

The Bjerksund-Stensland 2002 algorithm utilizes the Standard Bivariate Normal Distribution, specifically the Cumulative Distribution Function (CDF) of that distribution.  While TensorFlow Probability has the class `tfp.distributions.MultivariateNormalTriL`, the CDF fun

[2021-06-21 13:27] cyrilchim commented on #5
Hi Alex,

Indeed, the CDF is not implemented. The best way to go is to have a utility function for that. [Here is C code](https://people.sc.fsu.edu/~jburkardt/c_src/toms462/toms462.c) for computing  the bivariate normal cdf (you need `bivnor` function). It should be easy to translate that to Python but might take some effort making it TF-friendly. Please let me know if you need help implementing t

[2021-06-21 13:36] cyrilchim commented on #5
Reference paper is [this one](https://dl.acm.org/doi/abs/10.1145/362375.362414)

[2021-06-21 15:43] cyrilchim commented on #5
Here is probably a better [reference](https://projecteuclid.org/journals/annals-of-mathematical-statistics/volume-27/issue-4/Tables-for-Computing-Bivariate-Normal-Probabilities/10.1214/aoms/1177728074.full) I think this paper closely follows the logic from the code

[2021-06-22 03:29] alembcke commented on #5
In Haug's book The Complete Guide to Option Pricing Formulas, he mentions the Genz (2004) algorithm as the most accurate (reference paper is [here](http://www.math.wsu.edu/faculty/genz/papers/bvnt.pdf)) and provides VBA code.  And Genz's website [here](http://www.math.wsu.edu/faculty/genz/homepage) provides Fortran and Matlab code.  Any objections to going with this one instead?

[2021-06-22 11:11] cyrilchim commented on #5
Thanks, Alex! Genz's approach seems like the right way to go.

[2021-07-10 15:26] xiaozhi-alan-zhu opened #56 "Asian Option"
Hi team,
Is there any plan for the implementation of asian option computation? I would like to contribute if there is anything related in you plan.

I can also contribute to other issues if you have one.

Xiaozhi

[2021-07-10 16:07] Macfly opened #57 "new pip package"
Hello,
The lastest pip package was publish on the 13th of April.
Is there any plan to publish a new version of the lib?

[2021-07-10 18:37] Macfly opened #58 "SBR calibration"
Hello,
I'm trying to use the SABR calibration with real BTC option prices but it stops right away without any error message (is_converged is False).
If anyone could help to see what is wrong with this pretty simple code:
[Colab notebook (created a wheel with the latest code)](https://colab.research.google.com/drive/120q5yXZ7p2PvHupNPnOFiLZrknHHiU9A?usp=sharing)

[code]

[2021-07-10 21:32] Macfly commented on #58
found the issue, you need to pass only call or put options to the fuction, with a mix of both it does not work.
Not sure why as you the downside presision comes from the puts and the upside from the call.
With call and puts, we would be able to fit the forward also.

[2021-07-10 22:01] cyrilchim commented on #58
Hi @Macfly,

Thanks for reporting. I can see that your prices have Nan values.  Can be fixed with something like
`
prices = numpy.array([jul_exp['price'].to_numpy()], dtype=dtype)
prices = tf.where(tf.math.is_nan(prices), dtype(0.0), prices)
`

Now, calibration fails again. Feel free to file a bug for a more detailed calibration output. Basically, volatility calibration is performed and the underl

[2021-07-10 22:04] cyrilchim commented on #57
Thanks for pointing out. We are cleaning out the library for 0.1v release and it is taking longer than expected. I will update the dev version on Monday.

[2021-07-10 22:06] cyrilchim commented on #56
Hi Xiaozhi, I don't think anyone is working on that atm but it would be cool to have a pricing formula for Asian options at least for the Black-Scholes case.

There are more potential projects available :-)

[2021-07-10 22:07] cyrilchim commented on #57
Just in case, you can access the nightly package with `pip install tff-nightly`

[2021-07-11 02:09] Macfly commented on #58
thanks a lot for your help.
You were right, I was not taking the right spot and forward.
I have changed some stuff and now it is converging.
[the working colab if someone want to have a look](https://colab.research.google.com/drive/183LGkK8H3EaKYTzA_1HP0eu5nsk_6aRp?usp=sharing)

I have plotted the fit price vs the actual price and it is not too bad.

Just something I don't understand, why can't we

[2021-07-11 09:28] cyrilchim commented on #58
`volatility_based_calibration =True` calibrates on implied volatilities instead of prices. That means, it calculates `tff.black_scholes.implied_vols` from the prices and calibrates on those (see [here](https://github.com/google/tf-quant-finance/blob/81d95fa8b6bcfddb959cb0029ec06795f1b78284/tf_quant_finance/models/sabr/approximations/calibration.py#L445))

As I mentioned above, there is arbitrage i

[2021-07-11 10:31] cyrilchim commented on #58
Just played a bit with the colabs. The fit is not perfect, but if you include fee into the quoted price (I read fee to be 3% from the website) as

[code]

then volatility based calibration should work for both call and put options.

[2021-07-11 12:19] cyrilchim commented on #58
As a side comment, if you are willing to run this for streaming data, consider wrapping calibration function into a `tf.function` and try enabling JIT compilation, like `calibration_fn = tf.function(tff.models.sabr.calibration, jit_compile=True)` and use those for various inputs (keep input shapes the same though to avoid recompilation). Also, note that we can calibrate a batch of models at the sa

[2021-07-11 15:38] Macfly commented on #58
thanks a lot again for the help!
I was thinking about the fee but didn't have time to try before your comments.
[Updated colab with vol and price plots](https://colab.research.google.com/drive/120q5yXZ7p2PvHupNPnOFiLZrknHHiU9A?usp=sharing)

The other thing I am not a fan of is to get the option prices sequentially, I haven’t found a way to get a snapshot yet.
Right now it is more a study phase, bu

[2021-07-12 01:17] alembcke commented on #5
@cyrilchim I have made a lot of progress on implementing Genz's approach for the standard bivariate normal distribution and the Bjerksund-Stensland 2002 algorithm.  Here is the code as it stands at the moment:  [link](https://github.com/alembcke/tf-quant-finance/blob/bs2002_tensor/tf_quant_finance/black_scholes/approximations/american_option.py)

The code works in eager mode, and the values are al

[2021-07-12 04:26] 2torus commented on #5
@alembcke No problem. Great work so far.
Try `tf.while_loop` [docs](https://www.tensorflow.org/api_docs/python/tf/while_loop) for your loops.
I also have a notebook on how to compute this approximation with QuantLib that I could share.

[2021-07-12 08:47] cyrilchim commented on #5
@2torus, please do share if you could. Thank you!

@alembcke Well done on the progress! You could use `tf.cond` and put it inside `tf.vectorized_map` over all entries of `rho`. It might be not that great for GPUs though. So we typically use `tf.where` instead. It is best to vectorized the code as much as you can (please let me know if you need help with this step).

As for the for-loop, you could

[2021-07-12 18:16] 2torus commented on #5
@cyrilchim A working colab with examples from quantlib https://colab.research.google.com/drive/1bEFOfI6y8lulViqsnodTT4wKt4ZgjuOV?usp=sharing

[2021-07-13 04:03] alembcke commented on #5
Thank you @2torus , this will certainly come in handy.

@cyrilchim , are there any good resources you could recommend to learn about vectorizing code?  The code I have written for the 2002 algorithm is rather slow, so speeding it up while adapting it to work in graph mode sounds like a good idea.

[2021-07-13 12:44] 2torus commented on #5
@alembcke I can lend a hand with vectorization, if you want to.

[2021-07-13 12:51] cyrilchim commented on #5
@alembcke I am not sure if there is a good reference on vectorization. Boris, if you could help with that, that would be much appreciated. As for performance, typically JIT compilation is important. You would need to use `tf.function(fn, jit_compile=True)` (see, e.g., [here](https://www.tensorflow.org/xla/tutorials/jit_compile)).

[2021-07-13 13:23] alembcke commented on #5
@2torus your help would be appreciated.  I will try to do this myself as well, as it is a good learning experience for me.  But I'm sure I can also learn a lot by examining your vectorized code and I have other projects which will give me the opportunity to apply this technique.

@cyrilchim  searching the TensorFlow website, I came across this paper [link](https://arxiv.org/pdf/1903.04243.pdf).  I

[2021-07-16 16:23] cyrilchim commented on #53
I have updated the colab with new timings and also with the updated method.

[2021-07-16 16:23] #53 closed

[2021-07-18 17:29] 2torus commented on #5
@alembcke Just show the work in progress.

[2021-07-20 12:00] alembcke commented on #5
@2torus here is my attempt to tensorfy the BVND function:  [link](https://github.com/alembcke/tf-quant-finance/blob/bs2002/tf_quant_finance/black_scholes/approximations/american_option.py)

And here is the python code, prior to my attempt to tensorfy:  [link](https://github.com/alembcke/tf-quant-finance/blob/bs2002_tensor/tf_quant_finance/black_scholes/approximations/american_option.py)

Both run

[2021-07-21 14:43] cyrilchim commented on #5
@alembcke I have update TF trainings a bit. There is a section on Autograph,` tf.while_loop`, and `tf.cond` in [second training](https://colab.research.google.com/github/google/tf-quant-finance/blob/master/tf_quant_finance/examples/jupyter_notebooks/Introduction_to_TensorFlow_Part_2_-_Debugging_and_Control_Flow.ipynb)

Looking at the code (BVDN), you should make it work in graph mode and will prob

[2021-07-26 00:26] alembcke commented on #5
@cyrilchim thank you for updating the TF trainings.  I went through them when I first started on this, but wasn't able to put a lot of it in context since I was so new to TF, so am going through them again.

I updated the code to use `tf.while_loop` and some other adjustments to work in graph mode [link](https://github.com/alembcke/tf-quant-finance/blob/bs2002/tf_quant_finance/black_scholes/approx

[2021-07-26 12:08] cyrilchim commented on #5
Thank you, @alembcke! This looks great. I have tweaked a few things in [this colab](https://colab.research.google.com/drive/1qXrmVgGV4BekAlriTmt5k-flJX-E9r6G?resourcekey=0-Zc2lOkoW8dvkoGewxWmkoA&usp=sharing) (let me know if you do not have access). A few notes:

1. Let us use 10 points for Legendre integration regardless of `rho` values
2. I think your benchmarks are for eager mode, where Python o

[2021-07-27 12:58] alembcke commented on #5
@cyrilchim I went through Genz's paper and the code to determine if there are any branches we can get rid of.  Turns out `tf.math.abs(rho)` is always the same value `tf.math.abs(rho) = tf.math.sqrt(0.5 * (tf.math.sqrt(5.0) - 1))` which is roughly `0.78615`.  So the only branch executed is `if_a1` which always executes `if_b1`.  So all we need is this:

[code]

With this change, the 2002 algorithm

[2021-07-27 21:02] cyrilchim commented on #5
Thank you, Alex. There is one more possible optimization. You could parallelize your loops. You have two options: either batch the calculation or use `tf.vectorized_map`. I have updated our [colab](https://colab.research.google.com/drive/1qXrmVgGV4BekAlriTmt5k-flJX-E9r6G?resourcekey=0-Zc2lOkoW8dvkoGewxWmkoA&usp=sharing) with a batched version (function called `batched_calc`). Please check that thi

[2021-07-28 01:56] alembcke commented on #5
Colab ran fine with `batched_calc`, but then on my PC both eager and deferred (graph) mode complained about the shape of tensors on the line calculating `res`.  The solution was to change `for _ in range(asr.shape.rank):` to `for _ in range(hk.shape.rank):`.

The reason being that the shape of `asr` is based on the shape of `rho` and `rho` is based on the shape of `expiries`.  But the tensor which

[2021-07-28 16:10] cyrilchim commented on #56
Hi Xiaozhi,

Are you working on this one? If so, could you please clarify what you are implementing.

Thanks,
Cyril

[2021-07-30 11:35] #5 closed

[2021-07-30 11:37] cyrilchim commented on #5
Thank you for the contribution, Alex! It is now merged

[2021-09-21 10:36] pboudier opened #61 "khronos ML summit"
Hello,

I am the chair of a working group at Khronos developing standards for graphics and compute hardware accelerators (as well as a representative for Nvidia in those groups).

We are organizing a summit to gather feedback from the ecosystem, and influence the design of the next round of improvements, and I thought that you may be interested in being represented:
https://www.khronos.org/events/

[2021-09-24 09:00] cyrilchim commented on #27
Thank you, @Shellcat-Zero Indeed, JAX has native forward-mode differentiation. It is definitely possible to add this functionality to TensorFlow but it requires quite a bit of effort. For now you could use `tff.math.fwd_gradient`

It is indeed true that JAX and TensorFlow have a lot of overlap (there is even [JAX to TF converter](https://github.com/google/jax/tree/main/jax/experimental/jax2tf)) as

[2021-11-26 09:44] luweizheng opened #62 "Month.md and month.md collide on case-insensitive filesystem"
Hi,

I have just cloned this project and find that Month.md and month.md in `api_docs/tf_quant_finance/datetime/` collide on my macOS. I could not pull recent merges. The best solution is to reformat my local APFS filesystem. But I think reformatting filesystem seems not a good choice.  I guess `api_docs` may be generated automatically. However, it would be nice if the api and the markdown file co

[2021-11-26 10:44] cyrilchim commented on #62
Hi,

Thanks for reporting this. I think you should still be able to compile the library as only api_docs folder is affected.
You definitely should not reformat your drive because of this. I will update the api_doc generator to avoid name duplications.

Best,
Cyril

[2021-12-03 05:04] mudgala3 commented on #9
Hi, Can I contribute to this issue if not closed?

[2021-12-10 09:55] cyrilchim commented on #9
Hi @mudgala3,

Sorry for late reply. Yes, the issue is still open. Please let me know if you are still interested, I can assign this to you

[2021-12-11 05:09] DhinNeGeNe opened #63 "MonteCarlo Simulation"
Team, is there a plan to implement MonteCarlo simulation?

[2021-12-13 16:39] cyrilchim commented on #63
Hi!

Could you please clarify what the exact issue is? We have generic
Euler/Milstein samplers as well as a bunch of models with specialized
samplers implemented.

Best,
Cyril

On Sat, Dec 11, 2021 at 5:09 AM DhinNeGeNe ***@***.***> wrote:

[2021-12-15 11:47] mudgala3 commented on #9
Thanks. I'll start working on it. Any help on supporting reading material would be appreciated, I am new to the project

[2021-12-17 10:34] cyrilchim commented on #9
It is worth going through the [training](https://github.com/google/tf-quant-finance#tensorflow-training). A good reference point is [Attari approximation](https://source.corp.google.com/piper///depot/google3/third_party/nomisma_quant_finance/models/heston/approximations/european_option.py) for European option pricing.

[2021-12-30 08:32] bigfatwhale opened #64 "Interpolation issue with Hagan West Monotone Convex"
The following input seems to give bad output with a strange jump,

[code]

Plotting it out gives,

![image](https://user-images.githubusercontent.com/1858007/147734912-953a8d87-e9de-4162-8476-5f99bf194bcd.png)

Can someone kindly advise?

Regards,

[2022-01-04 15:37] luweizheng commented on #27
Hi @cyrilchim ! As the Monte Carlo algorithm mainly use `tf.whil_loop` to simulate different time steps. I am wondering if `tf.while_loop` can do forward gradient?

[2022-01-04 15:37] luweizheng commented on #27
Hi @cyrilchim ! As the Monte Carlo algorithm mainly use `tf.whil_loop` to simulate different time steps. I am wondering if `tf.while_loop` can do forward gradient?

[2022-01-05 10:06] cyrilchim commented on #64
Hi, thank you for reporting the issue!

There was a bug in the code which is fixed in the latest [commit](https://github.com/google/tf-quant-finance/commit/8067c1f00f7ceb26dca6f5215afde5486ad0b3f0)

Using the nightly version (pip install tff-nightly), I run your code and get

<img width="449" alt="Screen Shot 2022-01-05 at 10 03 21 AM" src="https://user-images.githubusercontent.com/14253454/148199

[2022-01-05 10:33] cyrilchim commented on #27
Hi @luweizheng,

Yes, you can do forward gradient through the while loop. You can do some experimenting in the colab example [here](https://colab.research.google.com/github/google/tf-quant-finance/blob/master/tf_quant_finance/examples/jupyter_notebooks/Monte_Carlo_Euler_Scheme.ipynb).

It can be more efficient/beneficial to use custom [for_loop](https://github.com/google/tf-quant-finance/blob/8067

[2022-01-05 14:55] luweizheng commented on #27
Thank you so much for all these information. I'm not familiar with auto differentiation and computation graph.
So in your explanation, the custom `for_loop` has better performance. And in the colab example which calculates European options. I read some source code and find that if `watch_params` is not None, tff will use custom for loop. This custom for loop is mainly for monte-carlo sampling and

[2022-01-06 08:07] bigfatwhale commented on #64
Many thanks for the prompt turnaround! Let me try it out and report back :)

Cheers,

[2022-01-06 10:08] cyrilchim commented on #27
That is about correct. Just a few notes:

1. I don't think that while_loop has any performance issues and should not affect graph construction time (it is a just an op in a graph).
2. When you use JAX and invoke compilation, it also creates a graph. There is also an op for the while loop.
3. JAX has native forward differentiation mode (see [this](https://colab.sandbox.google.com/github/google/tf-q

[2022-01-12 03:54] bigfatwhale commented on #64
I've tested and the fix looks good!

Thanks

[2022-01-12 03:54] #64 closed

[2022-03-23 18:18] arthurpham commented on #13
@cyrilchim Do you have an example on how to compute the greeks with the PDE and the MC ? For example, delta, gamma, rho, theta, vega. I saw some pieces here and there, but it would be helpful to see them directly in the jupyter notebooks that showcase how to use the library. Thank you

[2022-03-25 13:28] arthurpham opened #67 "American options greeks with PDE is slow"
I haven't found an example of how to properly calculate the greeks with the PDE pricer or the MC pricer.
Here is my attempt : https://colab.research.google.com/github/arthurpham/google_colab/blob/1f737238f1ba71c8c84c47bb24f55e3a97688d1f/AmericanOption_PDE_Greeks_TQF.ipynb
I checked that the greeks with PDE was close to the BS greeks (BS closed form formula and AD).
But the performance of the greek

[2022-03-25 13:39] arthurpham opened #68 "Memory leak with TF.function"
https://colab.research.google.com/github/arthurpham/google_colab/blob/e20469359e82ecf96640837e2022f58de0df8314/AmericanOption_MC_MemoryLeak_TQF.ipynb

I've tried to reuse the jupyter notebook that show how to do a MC pricing.

[code]
The test is slightly silly but if the application that calls the pricing library might chose to send an arbitrary strike size, so the batch size might not be known in

[2022-03-29 16:14] cyrilchim commented on #67
Hi Arthur,

 For PDE, AD  is expected to take longer than finite difference because it involves solving tridiagonal system of equations (see, e.g., [matrix inverse gradient](https://math.stackexchange.com/questions/1471825/derivative-of-the-inverse-of-a-matrix)). So heuristically, I'd expect gradient to take at least 3x pricing time in this case. (I remember getting roughly this result). If you wa

[2022-03-29 19:29] arthurpham commented on #68
Yes thank you, i didn't know there was a concept of None dimension to handle varying-size inputs.
I believe this is an important nuance that might mean that in the coding standard, an input signature should always be provided with a tf.function for a quant application as inputs can change in sizes and trigger multiple retracing if that input_signature is not given.

[2022-03-29 19:29] #68 closed

[2022-04-05 19:29] mlambelho opened #70 "Discrete dividens for american options"
My goal is to compute american option prices with discrete dividends on a specific date. The example provided for American options does not indicate how could this be done.

[code]

Given that discrete options happen at a specific date I thought it would be possible to change the value of spot (s) by the respective dividend after the ex_date occurs. Lets say that expiry = 0.8 and for example ex_da

[2022-04-05 19:32] mlambelho commented on #70
@cyrilchim If possible you could provide some help? This should be something really trivial, but I am honestly missing how to do it with the library

[2022-04-06 18:21] cyrilchim commented on #70
Hi @mlambelho
I'd need to think a bit on this one. Could you please check, e.g., [here](http://ta.twi.tudelft.nl/mf/users/oosterlee/oosterlee/ecco.pdf). Seems you also need to update  `upper_boundary_fn`

 Could you please share the full code you are running?

[2022-04-07 01:48] luweizheng opened #71 "Which precision should I use? float32 or float64"
Hi tff team,

Thank you so much for developing this project. My question may be vague. Which precision should I use when doing derivative pricing? Is there any industry standards? Is float32 enough for most cases? Or it depends case by case?

Other quant libraries on CPU, for example [QuantLib](https://www.quantlib.org/) and [QuantLib.jl](https://github.com/pazzo83/QuantLib.jl), they use float64 f

[2022-04-07 15:32] mlambelho commented on #70
@cyrilchim here it is. I included the quantlib code for comparison.

https://colab.research.google.com/drive/1WiS1Lz259vv1UZZTYK5TBafG1MFir3WW?usp=sharing

[2022-04-07 16:08] cyrilchim commented on #71
Hi @luweizheng

AFAIK, double precision is the standard. I think there is research on utilizing mixed precision to speed up calculations (see, e.g., [here](https://www.nag.com/doc/techrep/pdf/tr1_13.pdf)). At the time the paper you are mentioning was released, TPU did not support double precision but as of today it does (the last time I checked there was a double precision emulator). The paper dem

[2022-04-08 14:53] luweizheng commented on #71
@cyrilchim Thanks a lot!

I'm happy to hear other discussions.

[2022-04-08 14:53] #71 closed

[2022-04-13 08:23] cyrilchim commented on #70
I looked in the colab. As I understand, you indeed need to adjust the grid by the dividend at the dividend date. You also need to adjust boundary conditions, `values_transform_fn` and the `final_values_grid`.

[code]

I estimate prices as
[code]
and relative absolute error of `1e-3` with QuantLib (I do 500 time steps on a 1024 point grid). I am sure QuantLib does a few more things like adjusting t

[2022-04-13 15:19] mlambelho commented on #70
Thank you for your help. If possible could you share the colab that you are running? jit_compile is much slower for me every time that I test it.

Could this be expandable for more than one dividend at one point in time? So two or three dividends?

On another note, is it possible to compute Greeks here? Things like theta, vega, gamma, delta?

Thank you in advance

[2022-04-14 13:39] cyrilchim commented on #70
Edited your [colab](https://colab.research.google.com/drive/1WiS1Lz259vv1UZZTYK5TBafG1MFir3WW?usp=sharing). Please check it out (see the last section there). Delta and Gamma should be estimated with finite difference as you already have price estimate on the grid. I've added that too. You can try computing gradients directly though it will be quite slow.

I've added theta and vega calculation usin

[2022-04-23 22:50] mlambelho commented on #70
Hi @cyrilchim thank you very very much for your reply, it is super helpful. A couple of questions though:

1. If I increase the expiry date of the option to for example 2022-11-18 (so 5 months after the original one), the prices that the model shows are quite different than the quantlib ones (attach picture for comparison). As the DTE seems to increase, the mismatch between quantlib and tff seems

[2022-04-27 08:12] cyrilchim commented on #70
Hi @mlambelho

1. Your grid boundaries are too narrow. Set something like `s_min=10, s_max=900`. The boundaries should be selected so that to cover most of the possible terminal values `S(T)`. For Black-Scholes model `S(T)` has a normal distribution which can be used to build an appropriate interval. You can check how it is done in QuantLib ([link](https://github.com/lballabio/QuantLib/blob/3ed1a7

[2022-05-01 17:35] mlambelho commented on #70
Thank you @cyrilchim, solutions 1 and 2 worked perfectly! Thank you! Regarding solution 3, I am sure your suggestion will also prove successful, I just can't seem to make it work. So, my understanding is that if we want to run in batches 20 options for example (10 puts and 10 calls), we need to provide a list with size 20 for s_min, s_max and sizes (where the number of grid points is always the sa

[2022-05-10 08:45] cyrilchim commented on #70
Sorry for the late reply. Typically shape error means there is some shape mismatch somewhere. The best way to debug that is to remove `tf.function` and step through the code inspecting places where things might go wrong.

In your case, I simply printed out shapes for each of the input functions to the pde solver (`second_order_coeff_fn`, etc)

I noticed that `upper_boundary_fn` outputs a tensor of

[2022-05-10 09:31] cyrilchim commented on #70
Also, I think you need to adjust the boundary conditions for puts. The lower boundary for put is
[code]
and the upper boundary is zero.

[2022-05-13 10:53] jj2023 opened #72 "case-sensitive paths on a case-insensitive filesystem"
when cloning, the following warning pops up:

warning: the following paths have collided (e.g. case-sensitive paths
on a case-insensitive filesystem) and only one from the same
colliding group is in the working tree:

  'api_docs/tf_quant_finance/datetime/Month.md'
  'api_docs/tf_quant_finance/datetime/month.md'

[2022-05-15 20:01] E8xE8xSO32 commented on #72
The api-docs  do require a case sensitive filesystem as :
tf_quant_finance/datetime/constants.py contains a class Months(..)
and
tf_quant_finance/datetime/periods.py contain a function months(n)

On a Mac you can create a case sensitive volume as described here:
https://coderwall.com/p/mgi8ja/case-sensitive-git-in-mac-os-x-like-a-pro

On windows (NTFS)  I believe you can set individual folders to

[2022-05-16 11:19] mlambelho commented on #70
I was able to make the adjustments you recommended, you can see the changes below:

https://colab.research.google.com/drive/10Vu37T5f45E9yb1-LZNODFuAcTofmoy-?usp=sharing

I think the pricing of the put options looks ok now.

If possible could you elaborate on how should I safely specify a grid? For example if a stock has spot 100, what should be the safest grid to specify that is neither too big n

[2022-05-16 15:13] #67 closed

[2022-05-16 15:22] arthurpham opened #73 "XLA compilation error of a TARF payoff with MC"
I'm trying to replicate the TARF payoff from this [paper](https://arxiv.org/pdf/2012.03819.pdf).
So far, i've been able to write a payoff that can be evaluated with MC and GPU, but i get an error with the XLA compilation.
https://colab.research.google.com/github/arthurpham/google_colab/blob/7d5715c2b0f988c8d7d544fea0ff741e63272056/TARF_MC_Performance_TQF.ipynb
I understand that the payoff code sty

[2022-05-17 10:18] cyrilchim commented on #73
Hi @arthurpham ,

Thanks for reaching out! The issue you are referring to is a TensorFlow (TF) issue as you implicitly have a while loop inside a vectorized map. I just checked internally, is seems that someone is on it but feel free filing the bug with TF team directly.
On the other hand, even if the issue is resolved, I don't think that the code is well-optimized for a GPU device because of all

[2022-05-18 20:32] cyrilchim commented on #70
You could use similar approach to QuantLib (ql). Under Black-Scholes the distribution of the terminal values `S(T)` is known (it is Geometric normal). That means we can put some upper and lower boundaries such that `S(T)` is very unlikely to cross these. For eaxample, we can follow ql and put a boundary such that there is only `0.0001` chance crossing the boundary. We can compute the boundaries as

[2022-05-25 15:51] arthurpham commented on #73
Thank you for the help.

I reused your payoff and that worked for the price.
When i try to compute the delta with XLA compilation, i get an error :
https://colab.research.google.com/github/arthurpham/google_colab/blob/494d8a07b8eb39b2c93dbe4dbe8f519730be0030/TARF_MC_Performance_TQF.ipynb
[code]

[code]

Also for the non-xla version, is there anything i can do to improve the performance ?
[code]

W

[2022-05-26 09:07] cyrilchim commented on #73
Thank you, Arthur!

The issue you are having is nested jit_compilation. Here you'd need to do a few changes:

1. In `my_function_new`, please add `maximum_iterations` to the `while_loop`:
[code]
2.  Greeks can be computed using backward gradient
[code]

As for the perfomance, just for the reference, GPU performance I get is `~65 ms` for `greeks_fn_xla` function (Please check how long it takes on y

[2022-05-26 11:44] cyrilchim commented on #73
Also, do you need Euler sampling for the Geometric Brownian Motion, that can be sampled more efficiently with the designated [sampler](https://github.com/google/tf-quant-finance/blob/2d0d7ac19944d0e1e3391c0e8c7d11940c969b11/tf_quant_finance/models/__init__.py#L26)

[2022-05-26 12:25] arthurpham commented on #73
The 1020ms include the price+greeks (1st derivative with respect to the spot, vol, risk free rate, dividend yield) in serial (no parallel computation).
For the price alone :
![image](https://user-images.githubusercontent.com/620036/170486093-c88cd16f-3954-451e-8624-441b00b06e82.png).
It's 94 ms in parallel (using the 6 cores of the cpu on my laptop), and 452 ms in serial.
As for the code, it's in

[2022-05-26 21:08] cyrilchim commented on #73
Also, could you please report the random number generation speed? I assume you'd need [200_000, 53] samples from Sobol that you then covert to normals. Could you please let me know how long that takes?

[2022-05-27 11:29] cyrilchim commented on #73
I have also changed Sobol sequence to use `tf.math.qmc` instead (The default RandomType.SOBOL is tied to an old implementation)

[code]

The colab CPUs are a bit weak. On my 2020 intel mac (with enforced single-threading) I get `1.69` secs for price with greeks and `0.61` secs for pricing.  I think this is more or less in the ballpark of your results.

[2022-05-27 21:03] arthurpham commented on #73
Ok that's surprising to see that `watch_params=False` would be faster as the documentation says the opposite.
Just changing that gives better result, but how would you know in advance if it should be True or False ?

Another question: https://colab.research.google.com/github/arthurpham/google_colab/blob/f02d64e65e9ba59ca9ce33048f3459560cef7fa5/TARF_MC_Performance_TQF.ipynb

Let's assume i'm trying

[2022-05-27 21:19] arthurpham commented on #73
The library that i forked to add the payoff is not mine, it comes from a book and the code is shared on github.
https://github.com/asavine/CompFinance/blob/6538e90c95993eebac6b728f1bf28b877bec9b5d/mcBase.h#L300

I don't have an easy way to measure what you are asking, but if i comment the path generation and payoff, i think it that the random number generation takes roughly **40%** of the total ti

[2022-05-29 09:24] cyrilchim commented on #73
Hi Arthur,

For TF I checked that the random numbers also take roughly 40% of the compute time.
As for your questions:

1. Compiled functions expect tensor inputs, not numpy objects, so should be something like
[code]

2. `watch_params` works well when there is a single expiry in the options (so you do not record intermediate values). I could try fixing that as I would need to adjust how gradient

[2022-05-30 18:34] mlambelho commented on #70
@cyrilchim  I am coming back to you this late because I was trying for so long to make the grid work as you suggested, however I am not able to get it to work. I think something really small must be going on... But can't figure out what is. from the error message

https://colab.research.google.com/drive/1TsbOkm_LH_SgRRICaBUfh7nigEVyp6A8?usp=sharing

Basically there are 3 things that I would like t

[2022-05-30 20:51] cyrilchim commented on #70
1. I've added a few edits to the colab. I made a mistake earlier. The shape of boundary function results should be `[num_options]` (that is 20 in your case). Please check that the results are correct
2. Dividends in your case can take the same shape as `spot` so each option can have its own dividend (see edit in the colab). If you have options of various number of dividends, the easiest way is to

[2022-05-31 09:17] cyrilchim commented on #70
I have added a section on CPU utilization optimization.

[2022-05-31 10:59] cyrilchim commented on #72
I've moved the period tensors to a separate module. Could you please check if you can install normally?

[2022-05-31 11:02] cyrilchim commented on #73
I've pushed a change so that `watch_params` should work fine now. Could you please double check? On my mac CPU I get `~1.13 secs` for greeks and price calculation (on a single thread).

[2022-05-31 11:05] cyrilchim commented on #62
Could you please check if this is still an issue?

[2022-06-02 01:35] luweizheng commented on #62
Thanks! I just re-clone the project. It seems to be ok now.

[2022-06-02 01:44] jj2023 commented on #72
no more warning during git clone. thanks.

[2022-06-02 12:24] #73 closed

[2022-06-02 15:44] cyrilchim commented on #72
Marking it as resolved. Please reopen, if needed

[2022-06-02 15:44] cyrilchim commented on #62
Marking it as resolved

[2022-06-02 15:44] #62 closed

[2022-07-30 22:41] mlambelho commented on #70
This was extremely helpful @cyrilchim. Thank you very much.

If possible, I have one additional question regarding how to calculate the deltas where the stocks have different grids.

[code]
On this example, we are assuming that the spot_index is exactly at the center of the grid. What happens if that is not the case? How can deltas be computed if that is not the case?

The formula to calculate the

[2022-08-04 15:55] cyrilchim commented on #70
Sorry for the late reply. I think you just need to adjust `spot_index` to a correct value. Is there an index which corresponds to the spot?

[2022-08-09 10:50] mlambelho commented on #70
Hi @cyrilchim, my problem was indeed that spot_index was not in the correct index. Here it is the correct final solution.

https://colab.research.google.com/drive/1tfWjWQzP5ZS92x3zoMV7GhBbTlKUYeLk?usp=sharing

Everything seems to be working as expected, however it seems that I am only able to price more than 1 option. If I try to run it with a single option the code is failing.

ValueError: slice

[2022-08-18 16:26] cyrilchim commented on #70
Looking into it. There is probably some bug. Will report back once investigate

[2022-08-19 12:42] cyrilchim commented on #70
Ok, should be fixed now! Please check it out. Thank you for spotting this one

[2022-08-20 16:29] rajflume opened #76 "IRS Delta"
In
https://github.com/google/tf-quant-finance/tree/master/tf_quant_finance/experimental/pricing_platform/framework/rate_instruments/interest_rate_swap)/interest_rate_swap_impl.py

under  def ir_delta it says
    raise NotImplementedError("Coming soon.")

Any idea when? Is it a case of supplying a tensor with each tenor bumped along with a tensor of base PV's?

[2022-08-31 19:22] mlambelho commented on #70
Hi @cyrilchim . Thank you very much. It is working perfectly. The only issue that I am seeing is that some runs take a lot longer than other runs. I leave here a snippet as an example:

https://colab.research.google.com/drive/1L4YXephA0tg3XkSVbX4GD5o8klAxXCa2?usp=sharing

Is there any possibility to use dynamic shapes with the current structure of the code? Perhaps dynamic shapes might also make t

[2022-09-02 13:19] jonas-eschle opened #77 "conda-forge package"
Are there any plans (or objections) to add this to conda-forge? Given that it's a prue Python library, it should be rather straight-forward to do.

[2022-09-09 15:28] cyrilchim commented on #77
Thank you for the request. There was no such plan but this should be easy to do. I'll take a look into this shortly

[2022-09-12 12:34] cyrilchim commented on #76
Hi Raj,

You can use `tff.math.gradient` to compute `deltas`. Note these are then aggregated for each instrument. If you want delta for each instrument, you should use `tff.math.jacobian`. I have extended the [example colab](https://colab.sandbox.google.com/github/google/tf-quant-finance/blob/master/tf_quant_finance/examples/jupyter_notebooks/Forward_Backward_Diff.ipynb) to demonstrate the point

[2022-09-12 16:58] waecoo opened #80 "Fair performance comparison with QuantLib"
Hi guys,

In the "Monte Carlo via Euler Scheme" example you compare TF with QuantLib pricing and conclude that TF finance is x100 times faster(or more).

I want to note that in QL you evolve 100 time steps of Log Normal process, but in TF you work in log space and only apply exp() at the end.
I agree QL may not be very fast, but in this example you compare 100 exponents per path in QL to just 1 ex

[2022-09-12 17:38] cyrilchim commented on #80
Thanks for reaching out, Dmitri!

I think the point was to demonstrate GPU speed up rather than direct comparison to QL. We would very much welcome a contribution for a better CPU benchmark!

[2022-09-12 18:22] DmitriGoloubentsev commented on #80
Sounds good! I'll come back to you later on CPU benchmark for this.

Also, you do not include graph optimization time into reporting.
# Second run (excludes graph optimization time)

I know, it's not dependent on number of paths, but it's still part of total pricing time. And for QL CPU execution it's 0.

Shouldn't you report this separately?

[2022-09-12 18:41] DmitriGoloubentsev commented on #80
On the second thought, if you simulate 100 time steps and only apply 1 exp() at the end, you don't really do much of calculations per path.

So your problem is basically reduced to RNG algo competition.

You should somehow increase complexity in your SDE. Perhaps, use the Heston local vol model to make this benchmark more relevant to real world. With flat vols, flat rates and a simple normal proce

[2022-09-12 20:32] DmitriGoloubentsev commented on #80
What random generator is used if "PSEUDO_ANTITHETIC" is set?
For QL you don't use antithetic. I suspect antithetic reduces number of required random numbers by 2... Am I correct in this?

[2022-10-07 21:31] a17brah opened #81 "times grid error with XLA"
Hi,

I noticed a problem with the time grid in euler_sample when XLA compilation (with dynamic shape for times) is used.

<img width="575" alt="image" src="https://user-images.githubusercontent.com/47603751/194658101-97faca2a-0e24-4e84-9b70-121d318958ca.png">

https://colab.research.google.com/drive/1kg8RChmJ3TxdONBHE1lIdCAmZKIXwGcY#scrollTo=pohADCcoTZMh

Thank you

[2022-10-10 17:41] cyrilchim commented on #81
Hi,

Thanks for reporting. This is related to the way XLA deals with dynamic shapes. I'll update once fixed. You can use `num_time_steps` instead of `time_step` in `process.sample_paths` for now.

Cyril

[2022-11-12 23:18] abhishekmittal15 commented on #6
Hi, is this issue still open?

[2022-11-17 09:33] cyrilchim commented on #6
I don't think this was ever finished. @gmxq, was there any progress?

[2022-11-17 09:48] gmxq commented on #6
Sorry I dont have progress on this. I unassigned myself. Feel free to take it over.

[2022-11-17 15:11] SergK13GH commented on #80
There is an additional question about memory consumption, especially when run with XLA optimization.
I hit with error message when run the example just with num_timesteps= 5000 without XLA:
2022-11-17 14:50:46.371456: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 4000000000 exceeds 10% of free system memory.
Memory available 16G + 22G Swap.
And there is a kernel crash with XL